@media (prefers-color-scheme: dark) {
    .wish-container-mobile, .wish-container-desktop {
        background-color: #1a1a1a;
    }
}

@media (prefers-color-scheme: light) {
    .wish-container-mobile, .wish-container-desktop {
        background-color: #f9f9f9;
    }
}

.wish-container-mobile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}

.wish-container-desktop {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.wish-container-mobile, .wish-container-desktop {
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wish-text {
    margin: 20px 0;
    padding: 0 20px;
    width: 50%;
    text-align: center;
}

.wish-image {
    margin: 20px;
    height: 300px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-v {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}