@media (prefers-color-scheme: dark) {
    .wish-container-mobile, .wish-container-desktop {
        background-color: #1a1a1a;
    }
}

@media (prefers-color-scheme: light) {
    .wish-container-mobile, .wish-container-desktop {
        background-color: #f9f9f9;
    }
}

.wish-container-mobile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}

.wish-container-desktop {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.wish-container-mobile, .wish-container-desktop {
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    align-items: center;
}

.wish-text {
    margin: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.wish-text h2 {
    font-size: 1.2rem;
    padding: 5px;
}

.wish-image {
    margin: 20px;
    max-height: 300px;
    max-width: 300px;
    width: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
