@media (prefers-color-scheme: dark) {
    .wish-container-mobile, .wish-container-desktop {
        background-color: #1a1a1a;
    }
}

@media (prefers-color-scheme: light) {
    .wish-container-mobile, .wish-container-desktop {
        background-color: #f9f9f9;
    }
}

.wish-container-mobile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    align-items: center;
}

.wish-container-desktop {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius: 4px;
}

.wish-text {
    margin: 3em 0;
    padding: 0 3em;
    width: 50%;
    /* background-color: aqua; */
    text-align: center;
}

.wish-image {
    /* background-color: blue; */
    margin: 3em;
    height: 300px;
}

.image-v {
    width: auto;
    height: 100%;
}